footer {
  height: 50px;
  background-color: $footer-color;
  border-top: 1px solid #333;

  .nav>li>a,
  .nav>li>a:focus,
  .nav>li>a:hover {
    padding: 8px;
    background-color: $footer-color;
  }

  .icon {
    height: 30px;
  }

  .text-left > p.credit {
    color: white;
    font-size: 12px;
    display: inline;
    position: absolute;
    bottom: 0px;
  }
}
